version: "3.9"

services:
  pgadmin:
    image: dpage/pgadmin4
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 120s
      update_config:
        parallelism: 1
        delay: 30s
        order: start-first
        failure_action: rollback
        monitor: 30s
      rollback_config:
        parallelism: 0
        order: stop-first

      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.pgadmin.rule=PathPrefix(`/pgadmin`)"
        - "traefik.http.routers.pgadmin.entrypoints=websecure"
        - "traefik.http.routers.pgadmin.middlewares=pgadmin-compress"
        - "traefik.http.services.pgadmin-service.loadbalancer.server.port=80"
        - "traefik.http.middlewares.pgadmin-compress.compress=true"

    environment:
      SCRIPT_NAME: /pgadmin
      PGADMIN_DEFAULT_EMAIL: dr.elshehabi@gmail.com
      PGADMIN_DEFAULT_PASSWORD: SecretPass

    volumes:
      - pgadmin:/var/lib/pgadmin
    networks:
      - backend

# Create this as driver=Overlay scope=swarm before deploying
networks:
  backend:
    external: true

volumes:
  pgadmin: {}
